$salmon: #ec6665;
$salmon-700: #ef8889;
$salmon-900: #f0a4a6;

$magenta: #b44f68;
$magenta-700: #c4798e;
$magenta-900: #d298a7;

$plum-100: #381d2b;
$plum-300: #5e3048;
$plum-500: #793e5c;
$plum-700: #976b82;
$plum-900: #af8e9f;

$light-gray: #f2f3ee;
