@import url("https://fonts.googleapis.com/css?family=Barlow:regular,semibold,bold,italic&subset=latin,latin-ext");

$Barlow: Barlow, sans-serif;

html {
  background-color: beige;
  font-size: 14px;
}
