@import "../../../styles/colors";
@import "../../../styles/constants";
@import "../../../styles/main";

@mixin light-border {
  border: 0.01px #eee solid;
}

.save-post-btn {
  background-color: $magenta-500;
  border-radius: 4px;
  color: white;
  height: 32px;
  width: 92px;
  margin-right: 1rem;

  &:hover {
    background-color: $magenta-700;
  }
}

.ep-header-container {
  @include light-border;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 46px;
  width: 100%;

  .ep-header-left {
    display: flex;
    align-items: center;

    .site-name {
      margin-left: 1.2rem;
    }

    .post-length {
      border-radius: 0.5rem;
      border: 0.8px #ddd solid;
      color: #ddd;
      display: inline-block;
      height: 1rem;
      font-size: 10px;
      margin-left: 0.6rem;
      width: 1.4rem;
      text-align: center;
    }
  }

  .ep-header-right {
    display: flex;
    align-items: center;
  }
}

.back-button {
  @include light-border;
  background-color: white;
  color: $plum-500;
  font: {
    family: $Barlow;
    size: 14px;
  }
  height: 100%;
  width: 100px;

  &:hover {
    background-color: #ddd;
  }
}
