$salmon: #EC6665;
$salmon-700: #EF8889;
$salmon-900: #F0A4A6;

$magenta: #B44F68;
$magenta-700: #C4798E;
$magenta-900: #D298A7;

$plum-100: #381D2B;
$plum-300: #5E3048;
$plum-500: #793E5C;
$plum-700: #976B82;
$plum-900: #AF8E9F;