@import "../../styles/colors";
@import "../../styles/constants";

.adminHeaderContainer {
  background-color: $plum-500;
  display: flex;
  justify-content: space-between;
  height: 46px;
  width: 100%;
}

.adminHeaderLeftNavigation {
  display: flex;
}

.navigation-button-wrap {
  display: flex;
  @media screen and (max-width: $width-small + 1) {
    display: none;
  }
}
