@import "../../styles/main";

.DraftEditor-root {
  background-color: white;
  border: 1px #eee solid;
  font: {
    size: 18px;
  }
  min-height: 40rem;
  padding: 1.4rem;
}

.DraftEditor-editorContainer {
  font: {
    family: $IBMSerif;
    size: 14px;
  }

  div > div {
    margin-bottom: 1rem;
  }
}
